<h3>Angular ngIf, nfFor, piping demo</h3>
<br>
<!-- if there are no products in the table, the warning is shown-->
<table *ngIf='products.length !==0; else noProductWarning' class ="table table-striped"> 
    <thead>
      <tr>
        <th>
          Product title
        </th>
        <th>
          Product count
        </th>
        <th>
          Product price
        </th>
        <th>
          Product Json demo
        </th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor='let product of products'>
      <td scope="col">{{ product.title | uppercase }}</td>  <!-- pipe is: | uppercase-->
      <td scope="col">{{ product.count }}</td>
      <td scope="col">{{ product.price | currency: 'USD'}}</td>
      <td scope="col">{{ product | json}}</td>

    </tr>
    </tbody>
  </table>
  <!--p *ngIf='products.length === 0' >There are no products</p-->

  <ng-template #noProductWarning>There are no products</ng-template>
  