
<div class="container">
    <h1>One-way / two-way binding demo</h1>
    <div class="card" style="width: 30rem;">
        <div class="card-header"> Demo </div>
        <div class="card-body">
            <div class="mb-3">
                <div class="form-text">
                    <h6>Two-way binding demo</h6>
                </div>
            </div>
            <div class="mb-3">
                <label for="text1" class="form-label">Write something:</label><br>
                <input [(ngModel)]='text' class="form-control" id="text1"><br>
                <input [(ngModel)]='text' class="form-control"><br>
            </div>
            <div class="mb-3">
                <p>{{text}}</p>
            </div>
            <div class="mb-3">
                <div class="form-text">
                    <h6>Property binding (one-way)</h6>
                </div>
            </div>
            <div class="mb-3">
                <label for="text3" class="form-label">Write something different:</label><br>
                <input [ngModel]='text' id="text3" class="form-control"> <!-- test writing there :)-->
            </div>

            <div class="mb-3">
                <div class="form-text">
                    <h6>Event binding one way (click)</h6>
                </div>
            </div>
            <div class="mb-3">
                <button (click)="incrementCounter()" class="btn btn-success">
                    Counter++
                </button>
            </div>
            <div class="mb-3">
                <div class="form-text">
                    <h6>Interpolation one-way (msg txt, counter)</h6>
                </div>
            </div>
            <div *ngIf="showMsg" class="mb-3 card-text">{{counter}}</div>
            <div class="mb-3">
                <button (click)="toggleCounterVis()" class="btn btn-primary mb-3">
                    {{this.showMsg ? "Hide" : "Show"}} counter
                </button>
            </div>
        </div>
    </div>
</div>