.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-text{
    height:30px;
}