h1{
    color:brown;
}

.dancer-img{
    width: 300px;
    height:400px;
    margin: 10px;
}

.container{
    display: flex;

    flex-direction:column;
    justify-content: center;
    align-items: center;
    
}



