p{
    color:brown;
}
.page-link {
    border-color:navajowhite;
    color: brown;
}
.pagination{
    --bs-pagination-active-bg:navajowhite;
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem navajowhite;
    --bs-pagination-active-border-color: gray;
}
a:active{
    color:white;
}

.footer-pagination{
    display: flex;
    justify-content: center;
    align-items: center;
}