<div class="mb-3">
    <h1>Angular page to learn different functionalities</h1>
</div>
<div class="mb-3">
    Please see the pages:
</div>
<ul class="nav flex-column">
    <li [routerLinkActive]="['active']" class="nav-item">
        <a class="nav-link active" aria-current="page" [routerLink]="['/about']">About</a>
    </li>
    <li [routerLinkActive]="['active']" class="nav-item">
        <a class="nav-link" [routerLink]="['/directives']">Directives</a>
    </li>
    <li [routerLinkActive]="['active']" class="nav-item">
        <a class="nav-link" [routerLink]="['/databinding']">Databinding</a>
    </li>
</ul>